@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
}

p{
  font-size: 13px;
}

body {
  min-height: 100vh;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
}
.projects-main {
  min-height: 100vh;
  background: linear-gradient(
    153.28deg,
    rgba(255, 255, 255, 0.4) 1.19%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(42px);
}

.container {
  width: 100%;
  padding: 0 200px;
}

/* Navbar */
.logo h1{
  color: #8d2419;
}
header {
  padding-top: 35px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-bar ul {
  padding: 0;
  margin: 0;
}

.navigation-bar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 25px;
}
.navigation-bar ul li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #292423;
  text-transform: capitalize;
  transition: all 0.3s;
}
.navigation-bar ul li a:hover {
  opacity: 0.5;
}
.navigation-bar ul li.hire-btn {
  margin-left: 125px !important;
}
.navigation-bar ul li.hire-btn a {
  padding: 10px 32px;
  background: #fff;
  border-radius: 50px;
  font-weight: 500;
}
.navigation-bar ul li.hire-btn a:hover {
  background: #292423;
  color: #fff;
  opacity: 1;
}
/* main content */
.main-content-wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col-left span {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #292423;
  margin-bottom: 10px;
}
.col-left h1 {
  font-size: 30px;
  font-weight: 800;
  color: #292423;
  line-height: 41px;
  margin-bottom: 15px;
}
.col-left p {
  width: 85%;
  font-weight: normal;
  font-size: 15px;
  line-height: 145%;
  color: #292423;
  margin-bottom: 20px;
  letter-spacing: 0.01em;
}
a.btn-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 25px;
  background: #292423;
  width: 190px;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 40px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
a.btn-main:hover {
  background: #fff;
  color: #292423;
}
a.btn-main span {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: #35343d;
  border-radius: 50px;
  margin: 0 0 0 12px;
  transition: all 0.3s;
  text-align: center;
}
a.btn-main span img {
  margin: 0 0 8px 0;
}
a.btn-main:hover span {
  background: #ccc;
}
/* Experience  */
.experience-section {
  width: 100%;
  padding: 40px 40px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(42px);
  border-radius: 10px;
}

.experience-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-inner .col h3 {
  font-size: 25px;
  color: #292423;
  font-weight: 700;
  margin-bottom: 5px;
}
.experience-inner .col p {
  font-size: 16px;
  color: #292423;
  font-weight: 300;
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  header {
    padding-top: 15px;
  }
  .container {
    padding: 0 20px;
  }
  .main-content-wrapper {
    margin-top: 50px;
    height: auto;
    flex-direction: column-reverse;
  }
  .projects-main {
    height: auto;
  }
  .col-left {
    margin-top: 50px;
  }
  .col-left span {
    font-size: 16px;
    line-height: normal;
  }
  .col-left h1 {
    font-size: 30px;
  }
  .col-left p {
    width: 100%;
  }
  a.btn-main span img {
    margin: 0px 0 4px 0;
  }
  .experience-section {
    margin-top: 50px;
    padding: 0;
    background: transparent;
  }
  .experience-inner {
    flex-direction: column;
    text-align: center;
  }
  .experience-inner .col {
    width: 100%;
    padding: 40px 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(42px);
    border-radius: 10px;
    margin-bottom: 25px;
  }

}
@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    padding: 0 60px;
  }
}

/* Toggle bar */
.toggle-bar {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  cursor: pointer;
}

.toggle-bar span {
  display: block;
  width: 100%;
  height: 3px;
  background: #292423;
  border-radius: 10px;
  margin-bottom: 4px;
}

@media (min-width: 1200px) {
  .toggle-bar {
    display: none;
  }
}

@media (max-width: 1200px) {
  .navigation-bar {
    display: none;
  }
  .navigation-bar {
    position: absolute;
    top: 79px;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(42px);
    border-radius: 10px;
    text-align: center;
    z-index: 2;
  }
  .navigation-bar ul {
    padding: 10px 0 20px;
  }
  .navigation-bar ul li {
    padding: 10px 30px;
    display: block;
    margin: 0;
    text-align: center;
  }
  .navigation-bar ul li.hire-btn {
    margin-left: 0 !important;
  }
  .navigation-bar ul li.hire-btn a {
    background: #292423;
    color: #fff;
  }
}

@media (min-width: 1200px) {
  .navigation-bar {
    display: block !important;
  }


.projects__container{
  justify-items: center;
  row-gap: 2rem;
}
}

/* About Section */
.section_title{
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.section_title::after{
  /* top: 46.6rem; */
  content: "";
  width: 40px;
  height: .18rem;
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-left: 48.5%;
  
  /* margin: auto; */
  background-color:#8d2419;
}

.about{
  height: 80vh;
}

.about h2{
  font-size: 22px;
  color: #8d2419;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 35%;
}

.right {
  width: 65%;
}
.left .about-img {
  height: 15rem; 
  border-radius: 50%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
  .left{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


@media screen and (max-width:360px){
  .projects-section {
    margin-top: 60vh;
    padding-top: 60vh;
  }
}

@media screen and (max-width:411px){
  .projects-section {
    margin-top: 20vh;
    padding-top: 10vh;
  }
}
@media screen and (min-width:375px) and (max-width:540px){
  .projects-section {
    margin-top: 20vh;
    padding-top: 10vh;
  }
}

@media screen and (min-width:320px) and (max-width:415px){
  .projects-section {
    margin-top: 35vh;
    padding-top: 40vh;
  }
}

/* Skills Section */


#skills{
  height: 80vh;
}

.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;}

.skills__container{
  row-gap: 2rem;
}
.skills__subtitle{
  color: #8d2419;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.skills__name{
  display: inline-block;
  font-size: 15px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: .25rem .5rem;
  background-color: #292423;
  color: white;
  border-radius: 50px;
}
.skills__name:hover{
  background-color:white;
  color:#35343d;
}
.skills__img img{
  border-radius: .5rem;
}

/* ===== projects =====*/
.projects__container{
  row-gap: 2rem;
}
.projects__img{
  /* box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem; */
  overflow: hidden;
  height: 300px;
  width: 100%;
}
.projects__img img{
  /* transition: 1s; */
  cursor: pointer;
}
.projects__img img:hover{
  transform: scale(1.1);
}

.projects__img .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projects__img:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

@media (min-width: 768px){

  .projects__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  }
  

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
}




/* 
.container{
  padding: 1em 0;
  float: left;
  width: 50%;
} */
@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 100%;
  }
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  overflow: hidden;
  height: 300px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}


/* Footer Part */

.contact{
  padding-bottom: 2rem;
}

.about__social{
  padding-top: .5rem;
}
.about__social-icon{
  font-size: 1.4rem;
  margin: 0 .5rem;
  color: #35343d;
}
.about__social-icon:hover{
  color: #8d2419;
}

/* Back to the top */

#scroll {
  position:fixed;
  right:10px;
  bottom:10px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color:#1a1a1a;
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px
}
#scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#ffffff;
}
#scroll:hover {
  background-color:#8d2419;
  opacity:1;filter:"alpha(opacity=100)";
  -ms-filter:"alpha(opacity=100)";
}